@import '../variables';

.button {
    display: flex;
    padding: 8px 12px;
    align-self: flex-end;
    background: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.15s;

    &__img {
        opacity: 0;
        transition: 0.15s;
    }

    &:hover {
        border: 2px solid #2D1E1E;
    }

    &:hover .button__img {
        opacity: 1;
    }

    &:active {
        border: 2px solid #8d8383;
        color: 8d8383;
    }
}